/* LEIAUTES PRIMÁRIOS   
----------------------------------------------------------*/
body 
{
    background-color: #FFF;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

.pagina 
{
    width: 91%;
    margin-left: auto;
    margin-right: auto;
}

#cabecalho
{
    clear: left;
    vertical-align: middle;
    background-color: #2D89EF;
    font-weight: bold;
    font-size: large;
    color: #FFF;
    height: 30px;
    margin: 10px;
    padding: 5px;
}

#logotipo 
{
    clear: left;
    height: 150px;
    background-color: #F1F1F1;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#pesquisa 
{
    clear: left;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #9F00A7;
    color: #FFF;
    height: 30px;
    padding: 5px;
    margin: 10px;
}

#menu
{
    clear: left;
    color: #FFF;
    height: 50px;
    padding: 0;
    margin: 0;
}

.botao_menu
{
    height: 100%;
    width: 215px;
    padding: 5px;
    margin: 10px;
    float: left;
}

#conteudo
{
    clear: left;
    height: 250px;
    margin: 0;
    padding: 0;
}

#principal 
{
    height: 100%;
    width: 65%;
    background-color: #F1F1F1;
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
    float: left;
}

#anuncios 
{
    height: 100%;
    width: 30%;
    background-color: #F1F1F1;
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
    float: left;
}

#rodape
{
    clear: left;
    vertical-align: middle;
    background-color: #2D89EF;
    font-weight: bold;
    font-size: large;
    color: #FFF;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}