div.painel_titulo
{
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    float: none;
    line-height: normal;
    margin-bottom: 5px;
    padding: 5px 0 3px 20px;
    width: 96%;
    background-image: url("../../Content/themes/images/icones/ico_seta_painel.png");
    background-position: left;
    background-repeat: no-repeat;
}

div.detalhes_contario
{
    font-weight: bold;
    margin-bottom: 5px;
}

div.conteudo_comentario
{
    margin-left: 10px;
    margin-bottom: 5px;
}

#destaquePrincipal
{
    float: left;
    width: 450px;
    height: 400px;
    margin-right: 30px;
}

#destaqueSecundario
{
    float: left;
    height: 150px;
    width: 400px;
}

#destaqueTerciario
{
    float: left;
    height: 130px;   
    width: 400px;
}

#credencie
{
    float: left;
    height: 100px;   
    width: 400px;
}

div.painel_campos
{
    width: 99%;
    padding-left: 7px;
    margin-bottom: 10px;
    height: 100px; /* ESSA ALTURA SERÁ REVISADA */
}

div.painel_botao
{
    width: 98%;
    padding-left: 7px;
    text-align: right;
}

div.conjunto_campo
{
    float: left;
    margin-right: 10px;
}

#painel_filtros
{
    margin-bottom: 30px;
}

.controle300,
.controle300 input
{
    width: 300px;
}

.controle500,
.controle500 label
.controle500 input
{
    width: 500px;
}
.controle875,
.controle875 label
.controle875 input
{
    width: 875px;
}
.controle930,
.controle930 label
.controle930 input
{
    width: 930px;
}
div.oculto
{
    display: none;
}

div.clear
{
    clear: both;
}



/* ESTILOS DO GRID */

.webgrid
{
    width: 100%;
    font-size: 10px;
}
.webgrid-header
{
    font: bold 15px Verdana, Arial, Helvetica, sans-serif;
    background-color: #0e7019;
    color: #FFF;
    padding: 4px;
}
.webgrid-header a
{
    color: #DFE8BF;
    text-decoration: none;
}
.webgrid-header a:hover
{
    color: #A8CF45;
}
.grid_empty
{
    padding: 3px;
    color: #333333;
    background-color: #CCCCCC;
    font-weight: bold;
}
.webgrid-row
{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    background-color: #D0E49D;
    color: #333333;
}
.webgrid-row:hover
{
    background-color: #A8CF45;
    color: #333333;
}
.webgrid-row-alt
{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    background-color: #AED252;
    color: #333333;
}
.webgrid-row-alt:hover
{
    background-color: #A8CF45;
    color: #333333;
}
.webgrid-row-sel
{
    font: normal 10px Verdana, Arial, Helvetica, sans-serif;
    background-color: #A1B0C8;
    color: #333333;
}
.webgrid-empty_data
{
    font-size: 10px;
    color: #333333;
    font-weight: bold;
}
.webgrid-footer
{
    background-color: #000;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
}
.webgrid-footer a
{
    text-decoration: none;
    color: #FFF;
}
.webgrid-footer a:hover
{
    text-decoration: underline;
    color: #FFF;
}
a.webgrid-exluir
{
    background: url("../../Content/themes/images/icones/ico_delete.gif") no-repeat top left;
     display: block;
     width: 16px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
     cursor: hand;
}
a.webgrid-exluir-off
{
    background: url("../../Content/themes/images/icones/ico_delete_off.gif") no-repeat top left;
     display: block;
     width: 16px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
     cursor: hand;
}
a.webgrid-visualizar
{
     background: url("../../Content/themes/images/icones/icone_visualizar.gif") no-repeat top left;
     display: block;
     width: 16px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
     cursor: hand;
}
a.webgrid-visualizar-off
{
     background: url("../../Content/themes/images/icones/icone_visualizar_off.gif") no-repeat top left;
     display: block;
     width: 16px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
     cursor: hand;
}
a.webgrid-editar
{
    background: url("../../Content/themes/images/icones/ico_edit.gif") no-repeat top left;
     display: block;
     width: 16px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
     cursor: hand;
}
a.webgrid-editar-off
{
    background: url("../../Content/themes/images/icones/ico_edit_off.gif") no-repeat top left;
     display: block;
     width: 16px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
     cursor: hand;
}
.webgrid-botoes
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: center;
}
.webgrid-coluna120
{
    width: 120px;
}

.webgrid-coluna150
{
    width: 150px;
}
.webgrid-coluna200
{
    width: 200px;
}
.webgrid-coluna300
{
    width: 300px;
}
.webgrid-coluna400
{
    width: 400px;
}
.webgrid-coluna500
{
    width: 500px;
}
.check-box-off
{
    display: none;
}