/* -------------------------------------------------------------------------------------------------
     LEIAUTES PRIMÁRIOS   
-------------------------------------------------------------------------------------------------*/
body 
{
    background-color: #FFF;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

.pagina 
{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* ÁREA DE CABEÇALHO */

#cabecalho
{
    clear: left;
    vertical-align: middle;
    background-color: #000;
    font-weight: bold;
    font-size: large;
    color: #FFF;
    height: 40px;
    width: 100%;
    margin: 0px;
}

#icone_login
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#icone_login:hover
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_login_hover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#icone_logout
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_logout.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#icone_logout:hover
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_logout_hover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#icone_idioma
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_idioma.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#ico_idioma_hover, #icone_idioma:hover
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_idioma_hover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#icone_portal
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_portal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-right: 1px;
}

#icone_portal_hover, #icone_portal:hover
{
    height: 40px;
    width: 40px;
    float: right;
    background-image: url("../../Content/themes/images/icones/ico_portal_hover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.controles_login
{
    height: 30px;
    width: 300px;
    float: right;
    text-align: right;
}

.campo_login
{
    margin: 4px;
    float: right;
    height: 28px;
    width: 125px;
    font-size: large;
    border: thin solid #FFF;
    background-color: #FFF;
    color: #000;
}

#menu_idioma
{
    display: none;
    margin: 0 0 0 1110px;
    position: absolute;
    width: 150px;
    background-color: #FFF;
}

.item_menu_cabecalho
{
    font-size: small;
    color: #000;
    height: 25px;
    padding: 5px 0 0 35px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 1px solid #000;
    border-top: none;
}

.item_menu_cabecalho:hover
{
    font-size: small;
    color: #FFF;
    height: 25px;
    padding: 5px 0 0 35px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
    cursor: pointer;
    border: 1px solid #000;
    border-top: none;
}

/* ÁREA DO LOGOTIPO E PESQUISA DO SITE */

#logotipo 
{
    clear: left;
    height: 190px;
    width: 1297px;
    border: solid 1px #000;
    margin-top: 10px;
}

#imagem_logo
{
    height: 100%;
    width:50%;
    background-image: url('../../Content/themes/images/logo/logo_admin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

#menu
{
    width: 40%;
    float: right;
    color: #FFF;
    height: 50px;
    padding: 0;
    padding-left: 10%;
    margin: 0;
    float: left;
}

.botao_menu
{
    height: 75px;
    width: 140px;
    float: left;
    padding: 5px 0 0 10px;
    margin: 10px 0 0 0;
    background-color: #7F7F7F;
    background-position: right;
    background-repeat: no-repeat;
    font-size: large;
    cursor: pointer;
}

/* ÁREA DE CONTEÚDO */

#conteudo
{
    clear: left;
    margin: 10px 0 0 0;
    padding: 10px;
    height: 500px;
    width: 1277px;
    border: solid 1px #000;
    vertical-align: middle;
    float: left;
}

/* ÁREA DE RODAPÉ */

#rodape
{
    clear: left;
    vertical-align: middle;
    background-color: #000;
    font-weight: bold;
    font-size: medium;
    color: #FFF;
    height: 30px;
    width: 1300px;
}

/* CONTROLES DE AUXÍLIO */

.espaco10
{
    height: 100%;
    width: 10px;
    float: left;
}

.linha10
{
    clear: left;
    height: 10px;
    width: 10px;
}

.clear
{
    clear: left;
    width: 0;
    height: 0;
}

/* css */