div.painel_titulo
{
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    float: none;
    line-height: normal;
    margin-bottom: 5px;
    padding: 5px 0 3px 20px;
    width: 98%;
    background-image: url("../../Content/themes/images/icones/ico_seta_painel.png");
    background-position: left;
    background-repeat: no-repeat;
}

div.painel_campos
{
    width: 99%;
    padding-left: 7px;
    margin-bottom: 10px;
    height: 100px; /* ESSA ALTURA SERÁ REVISADA */
}

div.painel_botao
{
    width: 98%;
    padding-left: 7px;
    text-align: right;
}

div.conjunto_campo
{
    float: left;
    margin-right: 10px;
}

#painel_filtros
{
    margin-bottom: 30px;
}

.controle300,
.controle300 input
{
    width: 300px;
}

.controle500,
.controle500 label
.controle500 input
{
    width: 500px;
}
.controle930,
.controle930 label
.controle930 input
{
    width: 930px;
}
div.oculto
{
    display: none;
}

div.clear
{
    clear: both;
}